@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom : 0;
  right: 0;
}

.overlay--disable {
  pointer-events: none;
}

.loader { 
  position: absolute;
  top: 0;
  left: 0;
  bottom : 0;
  right: 0;
  background: white;
  transition :opacity 2s ease-in-out;
}

.loader-disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  font-family: "DM Serif Display", serif;
  color:#171717;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}

.intro--disappear .logo {
  top: 42px;
  transform: scale(0.25);
  transform-origin: center top;
}
.explore {
  padding: 1rem 2rem;
  border: none;
  font-family: DM Serif Display, serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color:#171717;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 320px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
}

.intro--disappear .explore {
  animation: fadeOut 1s ease-in-out forwards;
}


.explore:hover {
  background-color: antiquewhite;
  color: #000;
}

.explore:hover:before{
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore:before{
  content: "";
  background: #3535cc;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }
  100% {
    opacity: 1;
    filter: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}