.title {
    color: white; 
    font-size: 35px; 
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center; 
    margin: 30px 0; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    padding: 0 30px; 
    gap: 10px; 
    margin: 100px;
    text-align: center;
}

.container {
    padding: 30px; 
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .cards {
        grid-template-columns: 1fr;
    }
}